/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.k-grid-header .k-header {
    height: 25px;
}
#message {
    margin-top: 20px;
}
#menu_mn_active {
    background-color: #F35801
}
#listView {
    padding: 10px 5px;
    margin-bottom: -1px;
    min-height: 510px;
}
.user {
    float: left;
    position: relative;
    width: 151px;
    height: 170px;
    margin: 0 5px;
    padding: 0;
}
.user img {
    width: 150px;
    height: 150px;
}
.user h3 {
    margin: 0;
    padding: 3px 5px 0 0;
    max-width: 96px;
    overflow: hidden;
    line-height: 1.1em;
    font-size: .9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #999;
}
.user p {
    visibility: hidden;
}
.user:hover p {
    visibility: visible;
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    margin: 0;
    padding: 0;
    line-height: 150px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: rgba(0,0,0,0.75);
    transition: background .2s linear, color .2s linear;
    -moz-transition: background .2s linear, color .2s linear;
    -webkit-transition: background .2s linear, color .2s linear;
    -o-transition: background .2s linear, color .2s linear;
}
.k-listview:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.k-card {
    width: 500px;
}













/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

                .sunny, .cloudy, .rainy {
                    display: block;
                    margin: 30px auto 10px;
                    width: 128px;
                    height: 128px;
                    background: url('../content/web/tabstrip/weather.png') transparent no-repeat 0 0;
                }

                .cloudy{
                    background-position: -128px 0;
                }

                .rainy{
                    background-position: -256px 0;
                }

                .weather {
                    margin: 0 auto 30px;
                    text-align: center;
                }

                #tabstrip h2 {
                    font-weight: lighter;
                    font-size: 5em;
                    line-height: 1;
                    padding: 0 0 0 30px;
                    margin: 0;
                }

                #tabstrip h2 span {
                    background: none;
                    padding-left: 5px;
                    font-size: .3em;
                    vertical-align: top;
                }

                #tabstrip p {
                    margin: 0;
                    padding: 0;
                }

                #team-schedule {
                    background: url('../content/web/scheduler/team-schedule.png') transparent no-repeat;
                    height: 115px;
                    position: relative;
                }

                #people {
                    background: url('../content/web/scheduler/scheduler-people.png') no-repeat;
                    width: 345px;
                    height: 115px;
                    position: absolute;
                    right: 0;
                }
                #alex {
                    position: absolute;
                    left: 4px;
                    top: 81px;
                }
                #bob {
                    position: absolute;
                    left: 119px;
                    top: 81px;
                }
                #charlie {
                    position: absolute;
                    left: 234px;
                    top: 81px;
                }
                .customer-photo {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-size: 32px 35px;
                    background-position: center center;
                    vertical-align: middle;
                    line-height: 32px;
                    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
                    margin-left: 5px;
                }

                .customer-name {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 32px;
                    padding-left: 3px;
                }
 #listView {
            padding: 10px 5px;
            margin-bottom: -1px;
            min-height: 510px;
            /* Avoid cutout if font or line is bigger */
            font: inherit;
        }
        .product {
            float: left;
            position: relative;
            width: 222px;
            height: 340px;
            margin: 0 5px;
            padding: 0;
        }
        .product img {
            width: 220px;
            height: 220px;
        }
        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }
        .product p {
            visibility: hidden;
        }
        .product:hover p {
            visibility: visible;
            position: absolute;
            width: 220px;
            height: 220px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }
        .k-listview:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .metro-ui {
            width: 16px;
            height: 16px;
            background: url("../content/themes/metro/images/metro-ui.png") no-repeat;
        }
        
            .metro-ui.metro-ui-open,
            .metro-ui.metro-ui-document,
            .metro-ui.metro-ui-preview-document,
            .metro-ui.metro-ui-add,
            .metro-ui.metro-ui-edit,
            .metro-ui.metro-ui-import-document,
            .metro-ui.metro-ui-delete {
                cursor: pointer;
            }
           
            .metro-ui.metro-ui-open {
                background-position: 0 -16px !important;
            }
        
            .metro-ui.metro-ui-document {
                background-position: 0 0 !important
            }
           
            .metro-ui.metro-ui-preview-document {
                background-position: 0 -32px !important
            }
           
            .metro-ui.metro-ui-add {
                background-position: 0 -48px !important
            }
           
            .metro-ui.metro-ui-edit {
                background-position: 0 -64px !important
            }
        
            .metro-ui.metro-ui-import-document {
                background-position: 0 -80px !important
            }
           
            .metro-ui.metro-ui-delete {
                background-position: 0 -96px !important
            }

            .fieldlist {
                margin: 0 0 -2em;
                padding: 0;
            }

            .fieldlist li {
                list-style: none;
                padding-bottom: 2em;
            }

            .fieldlist label {
                display: block;
                padding-bottom: 1em;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                color: #444;
            }

.emailHeader {
    width:90%;
    background-color: #999;
    padding: 20px 5%;
}

.emailBody {
    width:90%;
    background-color: beige;
    padding: 20px 5%
}